

.header-tile {
  background-image: Robot.jpg
}

.dashed-hr {
  border-top: 1px;
  border-style: dashed;
}

.small-hr {
  width: 300px;
  border-top: 1px;
  border-style: dashed;

}.xtra-short-hr {
  width: 140px;
  border-top: 1px;
  border-style: dashed;
}

.col-xs-15{
    width:20%;
}

.location-map {
  padding-top: 4%;
}

.side-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100px;
    background-color: white;
    text-align: right;
    content: 10px;
}

.side-nav li {
    display: block;
    color: #000;
    padding: 4px 8px 4px 8px;
    text-decoration: none;
    border: 1px solid black;
}

.side-nav li:hover {
    background-color: yellow;
    color: black;
}

.side-nav li:first-child {
  background-color: black;
  color: white;
}